@model IEnumerable<TravelerBlog.Domain.Entities.Country>

    <li class="nav-item submenu dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Countries</a>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">@item.CountryName</a>
                </li>  
            }
        </ul>
    </li>



    @*<li class="nav-item submenu dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Countries</a>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link" href="blog-details.html">@item.CountryName</a>
                    <ul class="nav-item dropdown">
                        @foreach (var item2 in item.Locations)
                        {
                            <li class="nav-item">
                                <a class="nav-link m-lg-1" href="blog-details.html">@item2.LocationName/@item2.City</a>
                            </li>
                        }
                    </ul>

                </li>


            }
        </ul>
    </li>*@

